## Импорт библиотек и чтение данных

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler


df=pd.read_csv('bank_term_deposit.csv')

## Проверка на пропуски

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45212 entries, 0 to 45211
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         45212 non-null  int64
 1   age        45203 non-null  float64
 2   job        45212 non-null  object
 3   marital    45212 non-null  object
 4   education  45212 non-null  object
 5   default    45212 non-null  object
 6   balance    45209 non-null  float64
 7   housing    45212 non-null  object
 8   loan       45212 non-null  object
 9   contact    45212 non-null  object
 10  day        45212 non-null  int64
 11  month      45212 non-null  object
 12  duration   45212 non-null  int64
 13  campaign   45212 non-null  int64
 14  pdays      45212 non-null  int64
 15  previous   45212 non-null  int64
 16  poutcome   45212 non-null  object
 17  y          45212 non-null  object
dtypes: float64(2), int64(6), object(10)
memory usage: 6.2+ MB

## Замена пропусков

In [3]:
df["age"] = df["age"].fillna(df["age"].median())
df["balance"] = df["balance"].fillna(0)

## Проверка на выбросы

In [4]:
df[["age", "balance", "day", "duration", "campaign", "pdays", "previous"]].max()

age            999.0
balance     102127.0
day             31.0
duration      4918.0
campaign        63.0
pdays          871.0
previous       275.0
dtype: float64

In [5]:
df[["age", "balance", "day", "duration", "campaign", "pdays", "previous"]].min()

age           -1.0
balance    -8019.0
day            1.0
duration       0.0
campaign       1.0
pdays         -1.0
previous       0.0
dtype: float64

In [6]:
df[df["age"] < 15]

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45204,46204,-1.0,student,single,tertiary,no,113.0,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45205,46205,-1.0,retired,married,secondary,no,2850.0,no,no,cellular,17,nov,300,1,40,8,failure,yes
45206,46206,-1.0,technician,single,secondary,no,505.0,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes

In [7]:
index_of_age_anomaly = df[df["age"] < 15].index
df.drop(index_of_age_anomaly, inplace=True)

In [8]:
df[df["age"] >= 105]

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1001,999.0,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261,1,-1,0,unknown,no

In [9]:
index_of_age_anomaly = df[df["age"] >= 105].index
df.drop(index_of_age_anomaly, inplace = True)

## Проверка на дупликаты

In [10]:
df.duplicated()

1        False
2        False
3        False
4        False
5        False
         ...
45207    False
45208    False
45209    False
45210    False
45211    False
Length: 45208, dtype: bool

In [11]:
df[df.duplicated()]

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
263,1004,47.0,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92,1,-1,0,unknown,no

In [12]:
df.drop_duplicates(inplace = True)

## Нормализация столбца balance

In [13]:
min_max_scaler = MinMaxScaler()
x = df['balance'].values.reshape(-1, 1)
min_max_scaler.fit(x)
x_minmax_scaled = min_max_scaler.transform(x)
df['balance_minmax'] = x_minmax_scaled
df

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,balance_minmax
1,1002,44.0,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151,1,-1,0,unknown,no,0.073067
2,1003,33.0,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,0.072822
3,1004,47.0,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92,1,-1,0,unknown,no,0.086476
4,1005,33.0,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198,1,-1,0,unknown,no,0.072812
5,1006,35.0,management,married,tertiary,no,231.0,yes,no,unknown,5,may,139,1,-1,0,unknown,no,0.074901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45207,46207,51.0,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977,3,-1,0,unknown,yes,0.080293
45208,46208,71.0,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456,2,-1,0,unknown,yes,0.088501
45209,46209,72.0,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127,5,184,3,success,yes,0.124689
45210,46210,57.0,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508,4,-1,0,unknown,no,0.078868
45211,46211,37.0,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361,2,188,11,other,no,0.099777

## Стандартизация столбца balance

In [14]:
stand_scaler = StandardScaler()
x = df['balance'].values.reshape(-1, 1)
stand_scaler.fit(x)
x_standard_scaled = stand_scaler.transform(x)
df['balance_standart'] = x_standard_scaled
df

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,balance_minmax,balance_standart
1,1002,44.0,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151,1,-1,0,unknown,no,0.073067,-0.437871
2,1003,33.0,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,0.072822,-0.446738
3,1004,47.0,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92,1,-1,0,unknown,no,0.086476,0.047210
4,1005,33.0,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198,1,-1,0,unknown,no,0.072812,-0.447067
5,1006,35.0,management,married,tertiary,no,231.0,yes,no,unknown,5,may,139,1,-1,0,unknown,no,0.074901,-0.371529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45207,46207,51.0,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977,3,-1,0,unknown,yes,0.080293,-0.176446
45208,46208,71.0,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456,2,-1,0,unknown,yes,0.088501,0.120448
45209,46209,72.0,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127,5,184,3,success,yes,0.124689,1.429542
45210,46210,57.0,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508,4,-1,0,unknown,no,0.078868,-0.228009
45211,46211,37.0,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361,2,188,11,other,no,0.099777,0.528350

## Feature engineering

In [15]:
df['y'].value_counts()

y
no     39921
yes     5286
Name: count, dtype: int64

In [16]:
y_to_replace = {"no": 0, "yes": 1}
df["y"] = df["y"].replace(y_to_replace)

In [17]:
df['job'].value_counts()

job
blue-collar      9732
management       9457
technician       7596
admin.           5171
services         4154
retired          2263
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           937
unknown           288
Name: count, dtype: int64

In [18]:
job_cat = pd.get_dummies(df.job,dtype='int')
df = pd.concat([df, job_cat], axis = 1)
df.drop("job", inplace = True, axis = 1)

In [19]:
df['marital'].value_counts()

marital
married     27212
single      12788
divorced     5207
Name: count, dtype: int64

In [20]:
marital_cat = pd.get_dummies(df.marital,dtype='int')
df = pd.concat([df, marital_cat], axis = 1)
df.drop("marital", inplace = True, axis = 1)

In [21]:
df['education'].value_counts()

education
secondary    23200
tertiary     13299
primary       6851
unknown       1857
Name: count, dtype: int64

In [22]:
education_to_replace = {"unknown": 0, "primary": 1, "secondary": 4, "tertiary": 8}
df["education"] = df["education"].replace(education_to_replace)

In [23]:
df['default'].value_counts()

default
no     44392
yes      815
Name: count, dtype: int64

In [24]:
default_to_replace = {"no": 0, "yes": 1}
df["default"] = df["default"].replace(default_to_replace)

## Корреляционная матрица

In [25]:
df_numeric=df.select_dtypes(include=np.number) 
df_numeric.corr()

,Id,age,education,default,balance,day,duration,campaign,pdays,previous,...,retired,self-employed,services,student,technician,unemployed,unknown,divorced,married,single
Id,1.000000,0.015040,0.108935,-0.053095,0.073676,-0.061540,0.013007,-0.102868,0.437805,0.271052,...,0.086912,0.008669,-0.042216,0.120981,-0.006999,0.029904,-0.005297,-0.023576,-0.070752,0.093605
age,0.015040,1.000000,-0.163845,-0.017927,0.097732,-0.009081,-0.004751,0.004788,-0.023780,0.001064,...,0.447274,-0.008089,-0.065837,-0.197184,-0.068467,0.000417,0.050214,0.164703,0.286126,-0.427707
education,0.108935,-0.163845,1.000000,-0.011261,0.063511,0.023940,0.002411,0.003417,0.004119,0.026184,...,-0.106487,0.090620,-0.095040,-0.025659,0.051223,-0.023892,-0.073057,0.001305,-0.132154,0.142701
default,-0.053095,-0.017927,-0.011261,1.000000,-0.066745,0.009421,-0.010019,0.016816,-0.029983,-0.018324,...,-0.011282,0.004105,0.000064,-0.016212,-0.003087,0.006468,-0.006670,0.017773,-0.014463,0.003121
balance,0.073676,0.097732,0.063511,-0.066745,1.000000,0.004517,0.021566,-0.014573,0.003434,0.016640,...,0.046858,0.017852,-0.038149,0.001298,-0.016176,0.009024,0.010785,-0.021730,0.025682,-0.012509
day,-0.061540,-0.009081,0.023940,0.009421,0.004517,1.000000,-0.030209,0.162483,-0.093056,-0.051733,...,-0.010144,0.005058,-0.006538,-0.015928,0.032503,-0.006386,-0.011201,-0.000440,0.007131,-0.007439
duration,0.013007,-0.004751,0.002411,-0.010019,0.021566,-0.030209,1.000000,-0.084565,-0.001560,0.001195,...,0.026025,0.007386,0.001432,-0.006509,-0.009199,0.020325,-0.006389,0.006106,-0.022673,0.020314
campaign,-0.102868,0.004788,0.003417,0.016816,-0.014573,0.162483,-0.084565,1.000000,-0.088642,-0.032827,...,-0.030872,0.005471,-0.004685,-0.021743,0.020736,-0.018456,0.014087,-0.015500,0.031371,-0.023109
pdays,0.437805,-0.023780,0.004119,-0.029983,0.003434,-0.093056,-0.001560,-0.088642,1.000000,0.454869,...,-0.006322,-0.010361,0.005701,0.024559,-0.013466,-0.010416,-0.015368,0.002887,-0.027617,0.027968
previous,0.271052,0.001064,0.026184,-0.018324,0.016640,-0.051733,0.001195,-0.032827,0.454869,1.000000,...,0.005506,-0.002361,-0.010910,0.023618,-0.001084,-0.008496,-0.009065,-0.004515,-0.012760,0.017068
y,0.296072,0.025189,0.061161,-0.022401,0.052868,-0.028392,0.394580,-0.073112,0.103695,0.093103,...,0.079043,0.000888,-0.027816,0.076555,-0.009057,0.020425,0.000281,0.002836,-0.060172,0.063385
balance_minmax,0.073676,0.097732,0.063511,-0.066745,1.000000,0.004517,0.021566,-0.014573,0.003434,0.016640,...,0.046858,0.017852,-0.038149,0.001298,-0.016176,0.009024,0.010785,-0.021730,0.025682,-0.012509
balance_standart,0.073676,0.097732,0.063511,-0.066745,1.000000,0.004517,0.021566,-0.014573,0.003434,0.016640,...,0.046858,0.017852,-0.038149,0.001298,-0.016176,0.009024,0.010785,-0.021730,0.025682,-0.012509
admin.,0.017092,-0.055694,-0.052327,-0.010042,-0.026724,-0.010462,-0.015716,-0.021884,0.027487,0.014267,...,-0.082500,-0.068371,-0.114320,-0.052285,-0.161509,-0.061913,-0.028777,0.033613,-0.059582,0.040930
blue-collar,-0.120718,-0.044044,-0.380772,0.010335,-0.048754,-0.022909,0.009645,0.008964,0.020049,-0.017069,...,-0.120235,-0.099643,-0.166610,-0.076200,-0.235383,-0.090232,-0.041939,-0.062536,0.122031,-0.088300
entrepreneur,-0.022568,0.021779,0.051976,0.026279,0.009644,-0.002316,-0.001325,0.002121,-0.014208,-0.008172,...,-0.042336,-0.035085,-0.058665,-0.026831,-0.082880,-0.031771,-0.014767,0.003001,0.044317,-0.050292
housemaid,-0.013714,0.086674,-0.110170,-0.000361,0.001662,0.003952,-0.008043,0.003089,-0.031355,-0.015197,...,-0.038551,-0.031949,-0.053421,-0.024432,-0.075471,-0.028931,-0.013447,0.017468,0.045816,-0.062174
management,0.056283,-0.023646,0.516881,-0.002654,0.067790,0.019083,-0.008316,0.016696,-0.007863,0.019624,...,-0.118067,-0.097847,-0.163606,-0.074826,-0.231139,-0.088605,-0.041183,0.003702,-0.032617,0.032824
retired,0.086912,0.447274,-0.106487,-0.011282,0.046858,-0.010144,0.026025,-0.030872,-0.006322,0.005506,...,1.000000,-0.043672,-0.073022,-0.033397,-0.103163,-0.039547,-0.018381,0.052221,0.076221,-0.119852
self-employed,0.008669,-0.008089,0.090620,0.004105,0.017852,0.005058,0.007386,0.005471,-0.010361,-0.002361,...,-0.043672,1.000000,-0.060516,-0.027677,-0.085496,-0.032774,-0.015233,-0.015802,0.010469,-0.000177
services,-0.042216,-0.065837,-0.095040,0.000064,-0.038149,-0.006538,0.001432,-0.004685,0.005701,-0.010910,...,-0.073022,-0.060516,1.000000,-0.046278,-0.142954,-0.054800,-0.025471,0.016920,-0.014622,0.003899
student,0.120981,-0.197184,-0.025659,-0.016212,0.001298,-0.015928,-0.006509,-0.021743,0.024559,0.023618,...,-0.033397,-0.027677,-0.046278,1.000000,-0.065381,-0.025063,-0.011649,-0.049572,-0.161775,0.210956
technician,-0.006999,-0.068467,0.051223,-0.003087,-0.016176,0.032503,-0.009199,0.020736,-0.013466,-0.001084,...,-0.103163,-0.085496,-0.142954,-0.065381,1.000000,-0.077420,-0.035985,0.009282,-0.062892,0.061773
unemployed,0.029904,0.000417,-0.023892,0.006468,0.009024,-0.006386,0.020325,-0.018456,-0.010416,-0.008496,...,-0.039547,-0.032774,-0.054800,-0.025063,-0.077420,1.000000,-0.013794,0.008664,-0.014405,0.009514
unknown,-0.005297,0.050214,-0.073057,-0.006670,0.010785,-0.011201,-0.006389,0.014087,-0.015368,-0.009065,...,-0.018381,-0.015233,-0.025471,-0.011649,-0.035985,-0.013794,1.000000,-0.014084,0.016835,-0.008314
divorced,-0.023576,0.164703,0.001305,0.017773,-0.021730,-0.000440,0.006106,-0.015500,0.002887,-0.004515,...,0.052221,-0.015802,0.016920,-0.049572,0.009282,0.008664,-0.014084,1.000000,-0.443678,-0.226603
married,-0.070752,0.286126,-0.132154,-0.014463,0.025682,0.007131,-0.022673,0.031371,-0.027617,-0.012760,...,0.076221,0.010469,-0.014622,-0.161775,-0.062892,-0.014405,0.016835,-0.443678,1.000000,-0.772335
single,0.093605,-0.427707,0.142701,0.003121,-0.012509,-0.007439,0.020314,-0.023109,0.027968,0.017068,...,-0.119852,-0.000177,0.003899,0.210956,0.061773,0.009514,-0.008314,-0.226603,-0.772335,1.000000